$color-1: #fee2d5;
$color-2: #ffd3be;
$color-3: #f95265;
$color-4: #bd3444;
$color-5: #532a59;
$text-color: #1a202c;
$gray-placeholder: #a0aec0;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'manrope';
  color: $text-color;
}

.navbar {
  background-color: $color-5;
  z-index: 10;
}

.hero-section {
  background-color: $color-1;
  min-height: 40em;
}

.carousel__card {
  min-height: 25em;
}

.food-back {
  min-height: 40em;
  background-image: url('../images/food-back.png');
}

.submit-btn {
  background-color: $color-3;
}
