$color-1: #fee2d5;
$color-2: #ffd3be;
$color-3: #f95265;
$color-4: #bd3444;
$color-5: #532a59;
/*tailwind colors*/
$gray-900: #1a202c;
$gray-800: #2d3748;

$gray-placeholder: #a0aec0;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'manrope';
  color: $gray-900;
}

.navbar {
  background-color: $color-5;
  z-index: 10;
  animation: nav-anim 1s ease-in-out;
}

.hero-section {
  background-color: $color-1;
  min-height: 40em;
}

.img-animation {
  animation: img-anim 1s ease-out;
}

.right-to-left-anim {
  animation: right-to-left 1s ease;
}

.left-to-right-anim {
  animation: left-to-right 1s ease;
}

.carousel__card {
  min-height: 25em;
}

.food-back {
  min-height: 40em;
  // background-attachment: fixed;
  background-image: url(../images/food-back.png);
}

/*============Spinner============*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $color-5;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-5 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*===============================*/

.submit-btn {
  background-color: $color-3;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: darken($color: $color-3, $amount: 10%);
}

.plates-section {
  background-color: $color-1;
}

/*==========Keyframes==========*/

@keyframes nav-anim {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}

@keyframes img-anim {
  from {
    opacity: 0;
    top: 100px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes right-to-left {
  from {
    opacity: 0;
    left: 100px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes left-to-right {
  from {
    opacity: 0;
    left: -100px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}
