$color-1: #fee2d5;
$color-2: #ffd3be;
$color-3: #f95265;
$color-4: #bd3444;
$color-5: #532a59;

body {
  font-family: 'manrope';
}

.navbar {
  background-color: $color-5;
}

.hero-section {
  background-color: $color-1;
  min-height: 10em;
}
