/*tailwind colors*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*:focus {
  outline: #532a59 auto 1px;
}

/*Material Icons*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'manrope';
  color: #1a202c;
}

.navbar {
  background-color: #532a59;
  z-index: 10;
  -webkit-animation: nav-anim 1s ease-in-out;
          animation: nav-anim 1s ease-in-out;
}

.nav-btn:hover {
  background-color: #331a36;
}

.carousel__card {
  min-height: 25em;
}

.food-back {
  min-height: 40em;
  background-image: url(../images/food-back.png);
}

textarea {
  resize: none;
}

footer {
  background-color: #532a59;
}

/*============Spinner============*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #532a59;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #532a59 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*===============================*/
.submit-btn {
  background-color: #f95265;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #f72139;
}

/*============Plates===========*/
.plates-section {
  background-color: #fee2d5;
}

.plates__delete {
  right: 10px;
  bottom: 10px;
}

/*=============================*/
/*==========Keyframes==========*/
@-webkit-keyframes nav-anim {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
@keyframes nav-anim {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes from-bottom {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes from-bottom {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes right-to-left {
  from {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes right-to-left {
  from {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes left-to-right {
  from {
    opacity: 0;
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes left-to-right {
  from {
    opacity: 0;
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes upper-corner {
  from {
    opacity: 0;
    -webkit-transform: translate(100px, -100px);
            transform: translate(100px, -100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes upper-corner {
  from {
    opacity: 0;
    -webkit-transform: translate(100px, -100px);
            transform: translate(100px, -100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section {
  background-color: #fee2d5;
  min-height: 40em;
}

.from-bottom-anim {
  -webkit-animation: from-bottom 1s ease-out;
          animation: from-bottom 1s ease-out;
}

.right-to-left-anim {
  -webkit-animation: right-to-left 1s ease;
          animation: right-to-left 1s ease;
}

.left-to-right-anim {
  -webkit-animation: left-to-right 1s ease;
          animation: left-to-right 1s ease;
}

.upper-corner-anim {
  -webkit-animation: upper-corner 1s ease;
          animation: upper-corner 1s ease;
}

.fade-anim {
  -webkit-animation: fade 1s ease;
          animation: fade 1s ease;
}
/*# sourceMappingURL=myStyles.css.map */